<a href="https://colab.research.google.com/github/shivaallala/MachineLearning/blob/main/Adult_Income.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [58]:
%load_ext google.colab.data_table
from sklearn.preprocessing import LabelEncoder
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from IPython.display import display

The google.colab.data_table extension is already loaded. To reload it, use:
  %reload_ext google.colab.data_table

In [ ]:
df = pd.read_csv('adult.csv')
df.head()

# **Data Exploration**

In [ ]:
print(df.shape)
df.dtypes

In [ ]:
df.isna().sum()

In [84]:
print(df['workclass'].value_counts())

Private             22696
Self-emp-not-inc     2541
Local-gov            2093
?                    1836
State-gov            1298
Self-emp-inc         1116
Federal-gov           960
Without-pay            14
Never-worked            7
Name: workclass, dtype: int64

In [85]:
df.head()

,age,workclass,fnlwgt,education,education.num,marital.status,occupation,relationship,race,sex,capital.gain,capital.loss,hours.per.week,native.country,income,gender_code
0,90,?,77053,HS-grad,9,Widowed,?,Not-in-family,White,Female,0,4356,40,United-States,<=50K,0
1,82,Private,132870,HS-grad,9,Widowed,Exec-managerial,Not-in-family,White,Female,0,4356,18,United-States,<=50K,0
2,66,?,186061,Some-college,10,Widowed,?,Unmarried,Black,Female,0,4356,40,United-States,<=50K,0
3,54,Private,140359,7th-8th,4,Divorced,Machine-op-inspct,Unmarried,White,Female,0,3900,40,United-States,<=50K,0
4,41,Private,264663,Some-college,10,Separated,Prof-specialty,Own-child,White,Female,0,3900,40,United-States,<=50K,0

# Data Cleaning and Transformation

In [57]:
df['income'] = df['income'].astype('category')

In [ ]:
le = LabelEncoder() #Using LabelEncoder to numerically categorize dataset 'Sex' attribute
df['gender_code'] = le.fit_transform(df['sex'])
print(df[['sex','gender_code']])

In [ ]:
print(pd.get_dummies(df['marital.status'])) #One-hot encoding

# Data Analysis

In [ ]:
df.boxplot(column ='age', by = 'income')
plt.suptitle('')  # Remove the automatic title
plt.title('Box Plot: Age by Income')
plt.xlabel('Income')
plt.ylabel('Age')

In [86]:
wc = df[['workclass','hours.per.week', 'education', 'race']]